* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(18,53,81);
  font-family: sans-serif;
}

button, input[type="submit"] {
  border: 1px solid rgb(34,68,106);
  background-color: rgb(160,182,196);
  transition: all 0.5s;
  outline: none;
}

button.hover, button:hover, input[type="submit"]:hover {
  background-color: rgb(91,126,154);
}

button.active, button:active, input[type="submit"]:active {
  background-color: rgb(34,68,106);
  color: white;
}

button.disabled, button:disabled, input[type="submit"]:disabled {
  background-color: rgb(255,255,255);
  color: rgb(204,208,209);
  border-color: rgb(204,208,209);
}
